@import"../mixins/mixins";
@import"../veriables/veriables";

#coming-soon{
    width: 100%;
    height: 100vh;
    background: $head;
    padding-top: 250px;

    .coming-soon-logo{
        img{
            width: 30%;
        }
    }

    .coming-soon-text{

        h1{
            font-size: 80px;
            color: #fff;
            text-transform: uppercase;
            font-family: $popi;
            font-weight: 700;
            
            span{
                -webkit-text-fill-color: #1b1c25;
                -webkit-text-stroke: 1px #f79645;
                font-size: 85px;
            }
            
        }

        p{
            margin-top: 10px;
            font-size: 13px;
            color: #999;
           font-weight: 400;
           font-weight: $popi;
           line-height: 30px;
        }


    }

    .coming-soon-counter{        
        width: 70%;
        
.countdown-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .days-c{
        position: relative;

        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -100%;
            top: 30%;
        }

        &::before{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -100%;
            bottom: 30%;
        }

    }

    .hours-c{
        position: relative;

        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -100%;
            top: 30%;
        }

        &::before{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -100%;
            bottom: 30%;
        }

    }


    .mins-c{
        position: relative;

        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -125%;
            top: 30%;
        }

        &::before{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            background: $buttonb;
            border-radius: 50%;
            right: -125%;
            bottom: 30%;
        }

    }



    .countdown-el{
        
        .big-text{
            color: $buttonb;
            font-size: 36px;
            font-family: $popi;
            font-weight: 600;
            text-align: center;

        }

        span{
            color: #fff;
            text-align: center;
        }
    }
   
}

 }

 .footer-social-media-allicon{
    display: flex;

    li{

        &:first-child a{
            margin-left: 0;
        }
        a{
            width: 32px;
            height: 32px;
            background: red;
            color: #fff;
            line-height: 32px;
            text-align: center;
            border-radius: 50%;
            margin-left: 20px;

        }
    }
 }

 .logo-end-text{
    font-size: 14px;
    color: $footer;
    font-family: $popi;
    font-weight: 400;
 }
 
}