@import "../veriables/veriables";
@import "../mixins/mixins";

/*-------------- gift and gadgets area start --------------*/ 
#giftgade{
    margin: 50px 0;
    .giftgad_left{
        background: #fff;
        padding: 30px 5px;
        border-radius: 5px;
        h3{
            @include fs(19px,700,$popi,#333);
            margin-bottom: 23px;
            text-transform: capitalize;
            margin-left: 10px;
        }
        ul{
            li{
                margin-left: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                a{
                    @include fs(14px,400,$popi,#666);
                    text-transform: capitalize;
                    transition: all linear .3s;
                }
                &:hover{
                    a{
                        color: $hover;
                    }
                }
            }
        }
        .giftgad_left_Btn{
            a{
                @include fs(14px,600,$popi,#333);
                text-transform: uppercase;
                margin-left: 10px;
                margin-top: 20px;
                position: relative;
                span{
                    margin-left: 5px;
                }
                &::after{
                    @include after_lb(0,-3px,100%,2px,#333);
                    transform: scaleX(0);
                    transition: all linear .2s;
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    .giftgad_right{
        .giftgad_slider{
            .giftgad_right_inner{
                .giftgad_items{
                    position: relative;
                    .new{
                        background: $hover;
                        width: 40px;
                        text-align: center;
                        position: absolute;
                        left: 30px;
                        top: 20px;
                        z-index: 999;
                        border-radius: 3px;
                        h6{
                            @include fs(13px,400,$popi,#fff);
                            padding: 2px 4px;
                            text-transform: capitalize;
                        }
                    }
                    .giftgad_icon{
                        width: 142px;
                        padding: 10px 9px;
                        background: #fff;
                        border-radius: 5px;
                        box-shadow: 0px 0px 6px 3px rgba(212, 207, 207, 0.4);
                        position: absolute;
                        left: 50px;
                        bottom: 60px;
                        z-index: 999;
                        opacity: 0;
                        transition: all linear .2s;
                        a{
                            i{
                                font-size: 17px;
                                color: #666;
                                margin: 0 5px;
                                transition: all linear .2s;
                                &:hover{
                                    color: $hover;
                                }
                            }
                        }
                    }
                    &:hover{
                        .giftgad_icon{
                            opacity: 1;
                            bottom: 110px;
                        }
                    }
                    .giftgad_img{
                        position: relative;
                        .giftgadtop_img{
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: all linear .2s;
                            &:hover{
                                opacity: 0;
                            }
                        }
                    }
                    .giftgad_text{
                        background: #fff;
                        margin-top: -7px;
                        padding: 20px 0;
                        a{
                            @include fs(13px,500,$popi,#333);
                            display: block;
                            text-transform: capitalize;
                            transition: all ease .2s;
                            &:hover{
                                color: $hover;
                            }
                        }
                        .giftgad_star{
                            position: relative;
                            margin-bottom: 5px;
                            i{
                                cursor: pointer;
                                color: #666;
                                font-size: 11px;
                                margin: 0 -1px;
                                .star_numb{
                                    position: absolute;
                                    left: 77px;
                                    top: -32px;
                                    background: #333;
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    opacity: 0;
                                    transition: all ease .2s;
                                    h6{
                                        @include fs(12px,400,$popi,#fff);
                                        line-height: 30px;
                                    }
                                    .shape{
                                        position: absolute;
                                        left: 9px;
                                        bottom: -5px;
                                        transform:rotate(45deg);
                                        width: 10px;
                                        height: 10px;
                                        background: #333;
                                    }
                                }
                                &:hover{
                                    .star_numb{
                                        opacity: 1;
                                    }
                                }
                            }
                            span{
                                display: inline-block;
                                margin-left: 5px;
                               a{
                                @include fs(12px,400,$popi,#bdb9b9);
                                text-transform: capitalize;
                                transition: all linear .2s;
                                &:hover{
                                    color: $hover;
                                }
                               }
                               }
                            .colornai{
                                color: #bdb9b9;
                            }
                           }
                           h5{
                            @include fs(16px,600,$popi,#333);
                           }
                    }
                }
            }
        }
    }
}
/*-------------- gift and gadgets area end --------------*/ 