@import "../veriables/veriables";
@import "../mixins/mixins";

/*------------- blog mask area start -------------*/ 
#maskgrid{
    .mask_nav{
        margin-bottom: 30px;
        .mask_button{
            button{
                @include fs(16px,600,$popi,#333);
                border: none;
                background: none;
                margin: 0 10px;
                position: relative;
                span{
                    color: #aaa;
                }
                &::after{
                    @include after_lb(0,-3px,100%,2px,#333);
                    transform: scaleX(0);
                    opacity: 0;
                    transition: all linear .3s;
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .grid_items_wrapper{
        margin-bottom: 50px;
        .mask_inner{
            position: relative;
            margin-bottom: 20px;
            .img{
                overflow: hidden;
                a{
                    img{
                        border-radius: 5px;
                        transition: all linear .3s;                      
                    }
                }
            }
            .grid_text{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 20px;
                background:linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 0.616) 100%);
                .inner_text{
                    margin-bottom: -35px;
                    transition: all linear .3s;
                    .fashion{
                        a{
                            @include fs(15px,500,$popi,#ffff);
                            margin-bottom: 5px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .text_mid{
                        a{
                            @include fs(18px,700,$popi,#ffff);
                            margin-bottom: 5px;
                            padding-right: 40px;
                            line-height: 24px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .comants{
                        display: flex;
                        opacity: 0;
                        .person{
                            margin-right: 20px;
                           a{
                            @include fs(15px,400,$popi,#ffff);
                            span{
                                font-weight: 700;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                           }
                        }
                        .comment_item{
                            a{
                                @include fs(15px,400,$popi,#fff);
                                &:hover{
                                    text-decoration: underline;
                                }
                               }
                        }
                    }
                }
            }
            &:hover{
                .img{
                    a{
                        img{
                            transform: scale(1.2);
                        }
                    }
                }
                .grid_text{
                    .inner_text{
                       margin-bottom: 0;
                        .comants{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .mask_arrow{
        margin-bottom: 50px;
        .pagination{
            li{
                a{
                    @include fs(18px,400,$popi,#333);
                    margin: 0 5px;
                }
            }
        }
    }
}
/*------------- blog mask area end -------------*/ 