@import "../veriables/veriables";
@import "../mixins/mixins";

/*------------- blog grid area start --------------*/ 
#bloggrid{
    .grid_nav{
        margin-bottom: 30px;
        .grid_button{
            button{
                @include fs(16px,600,$popi,#333);
                border: none;
                background: none;
                margin: 0 10px;
                position: relative;
                span{
                    color: #aaa;
                }
                &::after{
                    @include after_lb(0,-3px,100%,2px,#333);
                    transform: scaleX(0);
                    opacity: 0;
                    transition: all linear .3s;
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .grid_items_wrapper{
        margin-bottom: 50px;
        .grid_items{
            margin-bottom: 30px;
            &:hover{
                .items_img{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .items_img{
                overflow: hidden;
                img{
                    border-radius: 5px;
                    transition: all linear .3s;

                }              
            }
             .items_txt{
                .fashin{
                    a{
                        @include fs(15px,500,$popi,#336699);
                        margin: 10px 0;
                    }
                }
                h4{
                    @include fs(18px,700,$popi,#333);
                    margin-bottom: 10px;
                }
                p{
                    @include fs(13px,400,$popi,#333);
                    line-height: 24px; 
                    padding-right: 20px;
                    margin-bottom: 20px;
                    span{
                        a{
                            color: #333;
                            &:hover{
                                color: #336699;
                            }
                        }
                    } 
                }
                .comment{
                    align-items: center;
                    display: flex;
                    h6{
                        @include fs(14px,400,$popi,#333);
                        margin-right: 20px;
                        span{
                            margin-left: 5px;
                            a{
                                color: #333;
                            }
                        }
                    }
                    a{
                        @include fs(14px,400,$popi,#aaa);
                        span{
                            color: #333;
                        }
                        &:hover{
                            color: #336699;
                        }
                    }
                }
            }
        }
    }
}
/*------------- blog grid area end --------------*/ 