@import"../veriables/veriables";
@import"../mixins/mixins";

#order-complete{
    padding-top: 75px;
    padding-bottom: 75px;

    .shoppingcart-head{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        ul{ 
            display: flex;
            li{
                a{

                    font-size: 20px;
                font-family: $popi;
                color: $pera;
                font-weight: 700;
                transition: all linear 0.3s;

                &:hover{
                    color: $ones;
                }

                }

                i{
                    margin-right: 20px;
                    margin-left: 20px;
                    color: $buttonb;
                }
            }
        }
    }
    
    .order-complete-head{

        h2{
            width: 100%;
            padding: 36px 15px;
            border: 1px solid $buttonb;       
            font-size: 24px;
            font-family: $popi;
            font-weight: 700;
            letter-spacing: 0.8px;

            i{
                margin-right: 10px;
                font-size: 30px;
            }
        }
        
    }

    .order-date-head{
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        display: flex;    
        
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            li{
                text-align: center;
                color: $pera;
               font-size: 18px;
               font-family: $popi;
                font-weight: 500;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                span{
                    color: $head;
                    font-size: 18px;
                    font-family: $popi;
                    font-weight: 700;
                }
            }
        }
    }

    .order-details-head{
        h2{
                color: #333333;
                font-size: 20px;
                font-family: $popi;
                font-weight: 700;
        }
    }

    .order-details-product{
        padding: 25px 50px;
        border: 1px solid $buttonb;

        h4{
            color: #333333;
                font-size: 18px;
                font-family: $popi;
                font-weight: 700;
                width: 100%;
                padding-bottom: 25px;
                border-bottom: 1px solid $buttonb;
        }

        .order-details-vendor{
            display: flex;
            justify-content: space-between;

            .order-details-vendor-text{
                h5{
                    color: #336699;
                font-size: 14px;
                font-family: $popi;
                font-weight: 400;
                margin-bottom: 10px;

                a{
                    overflow: hidden;
                    transition: all linear 0.3s;
                     &:hover::after{
                        opacity: 1;
                     }

                    span{
                        color: $head;
                font-size: 14px;
                font-family: $popi;
                font-weight: 700;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #336699;
                        right: 18px;
                        bottom: 0;
                        opacity: 0;
                        transition: all linear 0.3s;
                    }
                }
                }

                h4{
                    color: $head;
                font-size: 14px;
                font-family: $popi;
                font-weight: 400;
                border: none;

                a{
                    overflow: hidden;
                    margin-bottom: -4px;

                    &:hover::after{
                        opacity: 1;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #336699;
                        right: 0px;
                        bottom: 0;
                        opacity: 0;
                        transition: all linear 0.3s;
                    }
                }

                }
            }

            .order-details-vendor-tk{
                h4{
                    color: $pera;
                font-size: 14px;
                font-family: $popi;
                font-weight: 400;
                border: none;
                }
            }
        }

        .order-details-subtotal{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;

            h6{
                color: $head;
                font-size: 16px;
                font-family: $popi;
                font-weight: 700;
            }

            h2{
                color: $head;
                font-size: 20px;
                font-family: $popi;
                font-weight: 700; 
            }

            h5{
                color: $pera;
                font-size: 16px;
                font-family: $popi;
                font-weight: 500;
            }
        }
    }

    .order-details-note{
        border: 1px solid $buttonb;
        padding: 20px 15px;
        p{
            font-size: 14px;
            font-family: $popi;
            color: $pera;
            font-weight: 400;

            i{
                font-size: 20px;
                margin-right: 5px;
                color: #799b5a;
            }

            span{
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }

    .order-details-odst{
        display: flex;
        justify-content: space-between;

        .oderrrr{
            width: 15%;

            h3{
                color: $pera;
                font-size: 14px;
                font-weight: 400;
                font-family: $popi;
            }
            
            h2{
                color: $pera;
            font-size: 18px;
            font-weight: 700;
            font-family: $popi;
            }
        }

        .dateee{
            width: 15%;

            h3{
                color: $pera;
                font-size: 14px;
                font-weight: 400;
                font-family: $popi;
            }
            
            h2{
                color: $pera;
            font-size: 18px;
            font-weight: 700;
            font-family: $popi;
            }
        }

        .statusss{
            width: 20%;

            h3{
                color: $pera;
                font-size: 14px;
                font-weight: 400;
                font-family: $popi;
            }
            
            h2{
                color: $head;
            font-size: 18px;
            font-weight: 700;
            font-family: $popi;
            }
        }

        .totalll{
        width: 35%;

        h3{
            color: $pera;
            font-size: 14px;
            font-weight: 400;
            font-family: $popi;
        }
        
        h2{
            color: $head;
            font-size: 18px;
            font-weight: 700;
            font-family: $popi;
        }
        
        }

        .viewww{
             width: 15%;

             a{
                padding: 10px 16px;
                background: #eee;
                color: $head;
                text-transform: uppercase;
                font-family: $popi;
                font-weight: 700;
                font-size: 14px;
                transition: all linear 0.3s;

                &:hover{
                    background: $head;
                    color: #eee;
                }
            }
    }
}

.address-end-item{

    .billing-address{

        h4{
             color: $head;
                font-family: $popi;
                font-weight: 700;
                font-size: 15px;        
        }
    }

    .billing-address-item{

        li{
                    color: $pera;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $popi;
                    line-height: 30px;
        }
    }

    a{
        margin-top: 60px;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          font-family: $popi;
          padding: 10px 25px;
          background: $head;
          transition: all linear 0.3s;
           &:hover{
            background: #eee;
            color: $head;
           }
          
          i{
            margin-right: 5px;
          }
    }

}


}
