@import "../veriables/veriables";
@import "../mixins/mixins";

/*------------- vendor list 4 area start --------------*/ 
#vendorlist4{
    .vendor_left{
        .catagories{
           .catagoris_header{
            cursor: pointer;
            margin-bottom: 35px;
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
            position: relative;
            h4{
                @include fs(18px,600,$popi,#333);
            }
            &::after{
                @include after_lb(0,-18px,100%,2px,#dbd9d9);
            }
           }
            ul{
                margin-bottom: 40px;
                li{
                    margin-bottom: 15px;
                    a{
                        @include fs(14px,400,$popi,#333);
                        display: block;
                    }
                }
            }
        }
    }
    .vendor_right{
        margin-bottom: 70px;
        .list_top_inner{
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 20px;
            h5{
                @include fs(13px,600,$popi,#333);
            }
          form{
            select{
                width: 165px;
                padding: 6px 10px;
                margin-left: 15px;
                outline: 0;
                border: 1px solid #cdcdcd;
                @include fs(13px,400,$popi,#333);
            }
          }
        }
        .produt_wrapper{
            margin-top: 30px;
            position: relative;
            .text{
                a{
                    @include fs(13px,600,$popi,#333);
                    transition: all linear .3s;
                    margin-top: 20px;
                    &:hover{
                        color: #336699;
                    }
                }
                h5{
                    @include fs(16px,700,$popi,#020101);
                    margin-top: 5px;
                }
                .cart{
                    a{
                        @include fs(14px,700,$popi,#336699);
                        text-transform: uppercase;
                        position: absolute;
                        left: 108px;
                        bottom: 0;
                        opacity: 0;
                        &::after{
                            @include after_lb(0,2px,100%,2px,#336699);
                            transition: all linear .3s;
                            transform: scaleX(0);
                            opacity: 0;
                        }
                        &:hover{
                            &::after{
                                transform: scaleX(1);
                            opacity: 1;
                            }
                        }
                    }
                }
                .sold{
                    display: flex;
                    justify-content: center;
                    margin-top: 5px;
                    p{
                        @include fs(12px,400,$popi,#666);
                        margin-right: 5px;
                    }
                    a{
                        @include fs(12px,400,$popi,#336699); 
                        margin: 0;
                    }
                }
            }
            .vendor_icon{
                position: absolute;
                top: 20px;
                right: 20px;
                opacity: 0;
                transition: all linear .2s;
                a{
                    display: block;
                    margin-bottom: 7px;
                   i{
                    font-size: 16px;
                    background: #fff;
                    padding: 10px;
                    border-radius: 50%;
                    color: #333;
                    transition: all linear .3s;
                    &:hover{
                        background: #336699;
                        color: #fff;
                    }
                   }
                }
            }
            .quick{
                padding:10px;
                background: #336699;
                text-align: center;
                position: absolute;
                left: 0;
                bottom: 87px;
                width: 98%;
                opacity: 0;
                a{
                    @include fs(16px,500,$popi,#fff); 
                    text-transform: uppercase;
                }
            }
            &:hover{
             .vendor_icon{
                opacity: 1;
             }
             .quick{
                opacity: 1;
             }   
            }
            &:hover{
                .text{
                    h5{
                        opacity: 0;
                    }
                    .cart{
                        a{
                            opacity: 1;
                            bottom: 23px;
                        }
                    }
                }
            }
        }
    }
}
/*------------- vendor list 4 area end --------------*/ 